.quote {
	background: #46474d;
	padding: 100px 0 65px 0;
	text-align: center;
}

.quote__title {
	font-family: Lora;
	font-size: 35px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 55px;
	text-transform: capitalize;
}

.quote__title_orange {
	color: #ffb600;
}

.quote__title_italic {
	font-style: italic;
}

.quote__button {
	background: #ffb600;
	padding: 20px 35px;
	text-transform: capitalize;
	text-decoration: none;
	color: #24242c;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	border: 1px solid #fff;
	border-radius: 5px;
}

.quote__button-arrow {
	color: #fff;
}